*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: black;
  padding: 30px;
}

main{
  display: flex;
  background-color: rgb(206, 200, 196);
  margin: auto;
  height: 500px;
  border-radius: 10px; 
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}


main p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  max-width: 60%;
  
}

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5,1fr);
  gap: 30px;
  margin-top: 30px;
}

.box{
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgb(244, 228, 228);
  box-shadow: 5px 5px 12px rgb(32, 31, 31);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.roll-button{
  background-color: rgb(162, 38, 38);
  color: rgb(220, 200, 200);
  border: 0.1px outset  rgb(196, 181, 181);
  border-radius: 5px;
  width: 20%;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
  font-size: larger;
  box-shadow: 5px 5px 10px rgb(106, 102, 102);
}

.roll-button:focus{
  outline: none;
}

.roll-button:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}